:root {
  --clr-dark: #01605D;
  --clr-light: #F6FAF6;
  --clr-accent: #DB504A;

  --fs-400: 1rem;
  --fs-700: 1.5rem;
  --fs-900: 2rem;

  --fs-primary-heading: var(--fs-900);
  --fs-secondary-heading: var(--fs-700);
  --fs-body: var(--fs-400);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* general styling */

body {
  font-size: 2rem;
  color: var(--clr-light);
}

/* navigation */

.nav-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--clr-dark);
  border-bottom-left-radius: 1rem; 
  border-bottom-right-radius: 1rem;
  font-size: var(--fs-700);
}

.nav-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.nav-list a {
  text-decoration: none;
  color: var(--clr-light);
}

@media (min-width: 32em) {
  .nav-list {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 2rem;
    padding-bottom: 1rem;
    font-size: var(--fs-700);
  }
}


/* utility classes */

.padding-block-900 {
  padding-block: 1.5rem;
}

.padding-inline-900 {
  padding-inline: 1.5rem;
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  color: var(--clr-dark);
  font-weight: var(--fw-bold);
}

.accent {
  background-color: var(--clr-accent);
  border-radius: 1rem;
  padding-block: 1rem;
}

.container {
  --max-width: 1110px;
  --padding: 1rem;

  width: min(var(--max-width), calc(100% - (var(--padding) * 2)));
  margin-inline: auto;
}
.container p {
  font-size: var(--fs-400);
  color: var(--clr-dark);
}

.container p,
.container h2 {
  padding-inline: 2.5rem;
  color: var(--clr-light);
}

.even-columns {
  display: grid;
  gap: 1.5rem;
}

/* Contact form style */
.contact-form {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-accent);
  border-radius: 1rem;
  border: none;
  width: 100%;
}

legend {
  margin-inline: auto;
  position: absolute;
  top: 5px;
  /*float: left;
  width: 100%;*/
  font-size: var(--fs-700);
  font-weight: var(--fw-semi-bold);
  /*padding-left: 2rem;*/
}

.label {
  color: var(--clr-light);
  font-size: var(--fs-400);
  font-weight: var(--fw-semi-bold);
}

.button {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 1rem;
  border: none;
  color: var(--clr-dark)
}

.button:hover {
  cursor: pointer;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

input,
textarea {
  border: none;
  resize: none;
  width: 100%;
}

input[type=checkbox] {
  transform: scale(2);
  margin-inline: 0.5rem;
}

@media (min-width: 32em) {
legend {
  position: relative;
  font-size: var(--fs-900);
  font-weight: var(--fw-semi-bold);
  text-align: center;
  left: -7.5rem;
  top: 1.5rem;
}

  .label {
  font-size: var(--fs-700);
  font-weight: var(--fw-semi-bold);
  }

}

@media (min-width: 50em) {


  .even-columns {
  grid-auto-flow: column;
  }
  
  .grid-layout-running {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

/* running layout */
.grid-layout-running {
  grid-template-areas: 
  'one'
  'two'
  'three'
  'four'
  'five'
  'six';
}

.area-container:nth-child(1) {
  grid-area: one;
}

.area-container:nth-child(2) {
  grid-area: two;
}

.area-container:nth-child(3) {
  grid-area: three;
}

.area-container:nth-child(4) {
  grid-area: four;
}

.area-container:nth-child(5) {
  grid-area: five;
}

.area-container:nth-child(6) {
  grid-area: six;
}

iframe {
  width: 100%;
}

@media (min-width: 50em) {

  .grid-layout-running {
    grid-template-areas: 
    'one two three'
    'four five six';
  }

}

/* profile picture header*/
.picture-wrapper {
  display: flex;
  justify-content: center;
  background-color: var(--clr-dark);
  padding-block: 1.5rem;
}

.profile-picture {
  height: 150px;
  border-radius: 100vmax;
}

.link-list a {
  text-decoration: none;
  color: var(--clr-light);
  font-size: var(--fs-400);
}
